/*https://coolors.co/d3f6db-92d5e6-772d8b-5a0b4d-a1ef8b*/
:root{
    --aero-blue: hsla(134, 66%, 90%, 1);
    --middle-blue: hsla(192, 63%, 74%, 1);
    --eminence: hsla(287, 51%, 36%, 1);
    --palatinate-purple: hsla(310, 78%, 20%, 1);
    --light-green: hsla(107, 76%, 74%, 1);
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--middle-blue);
    font-family:cursive;
}

button{
    font-family: inherit;
}