/*https://coolors.co/d3f6db-92d5e6-772d8b-5a0b4d-a1ef8b*/
:root{
    --aero-blue: rgb(212, 241, 219);
    --middle-blue: hsla(192, 63%, 74%, 1);
    --light-green: hsla(107, 76%, 74%, 1);
    --win:green;
    --loss:rgb(189, 71, 71);
    --tie:black;
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--middle-blue);
    font-family:cursive;
}

h1{
    margin-top:0;
    margin-bottom:2rem;
}

button,#new-game{
    font-family: inherit;
    font-size:1.5rem;
    padding: 0.2rem 4rem;
    margin:0 1.5rem;
    transition: all 0.5s ease;
    flex-basis:100%;
}

#new-game{
    font-size:1.3rem;
}

button:hover, #new-game:hover{
    transform: scale(1.1);
}



main{
    padding: 2rem;
    width:800px;
    margin: 3rem auto;
    background-color: var(--aero-blue);
    display:flex;
    flex-direction: column;
    align-items: center;
}

#buttons{
    max-width:100%;
}

#results{
    width:75%;
    text-align: center;
}

#scores{
    display:flex;
    justify-content:center;
    font-size:1.5rem;
    color:black;
}

#comp-score{
    margin-left:4rem;
}

#round{
    font-size:1.6rem;
    margin-bottom:0;
}


#over-msg{
    color:var(--loss);
    font-size:2rem;
}
.invisible{
    display:none;
}

